
<div class ="panel panel-default">
	
	<div class = "panel-heading center">
		 <h1>About me</h1> 
	</div>

	<div class= "panel-body">
		<p> Hi! I'm Daniela. I'm a computer science student at the University of British Columbia.<br>
		I'm building this webiste while learning Ruby on Rails, so many and constants changes will be happening to this site. I would like to give a big shout out to <%= link_to "OneMonth", "https://onemonth.com"%> and <%= link_to "GoRails", "https://gorails.com" %> for their extremely valuable resources and supportive community. <br>
		My main areas of interest: computer graphics, animation, machine learning and AI.<br>
		Little more about myself: <br>
		> I was born and raised in Durango, Mexico.<br>
		> I love dogs<br>
		> I take pictures of my food (no shame)<br>
		> I'm afraid of pigeons<br>
		> I have a love/hate relationship with programming and math which is what has kept me down this path<br>
		> I enjoy teaching and leaning<br>
		> Feminism is my Jam<br>
		Hope you guys enjoy navigating through this site (doesn't have much right now, I know I knoww..more coming soon). If you have any comments or wish to contact me you can message me (coming soon too..)<br><br>

		Peace
		</p>
	 </div>
</div>
